/* You can add global styles to this file, and also import other style files */

html, body {
  height: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: gray;
}

.blog-navbar {
  background: #fb007e;
}
.blog-navbar-title {
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  flex: 1 1 auto;
}

.blog-centered-element {
  display: flex;
  justify-content: center;
}

.blog-right-element {
  display: flex;
  justify-content: flex-end;
}

.blog-left-element {
  display: flex;
  justify-content: flex-start;
}

.blog-margintop-15 {
  margin-top: 15px;
}

.blog-footer {
  color: white;
  position: fixed;
  bottom: 0 !important;
  margin-top: 30px;
  background: #fb007e;
  font-size: 1rem;
}

.blog-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.blog-thumbnail-container {
  background: lightgray;
  height: 90%;
  width: 90%;
  box-shadow: 0 8pt 12pt rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.blog-thumbnail-angle {
  position: relative;
  top: 0;
}

.blog-thumbnail-title {
  position: relative;
  top: 0;
  max-width: 100% !important;
  min-width: 100% !important;
  max-height: 25px !important;
  min-height: 25px !important;
  font-size: 1rem;
  margin: 0 !important;
  color: #fb007e;
}

.blog-thumbnail-content {
  padding-top: 5px;
  padding-left: 10px;
  margin: 1px 0 !important;
  line-height: 1;
}

.blog-thumbnail-resume {
  max-height: 35%;
  min-height: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-grid-list {
  margin-bottom: 80px !important;
}

.blog-pagination {
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 100px !important;
}

.blog-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.blog-pagination a.active {
  background-color: #fb007e;
  color: white;
}

.blog-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.blog-addpost-container {
  position: relative;
  top: 35%;
  margin: auto;
  width: 80%;
}

.blog-add-button {
  background: #FFFFFF;
  opacity: 0.5;
  max-height: 60px;
  min-height: 60px;
  max-width: 60px;
  min-width: 60px;
  box-shadow: 0 8px 12px gray;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.blog-add-button:hover {
  transform: scale(1.5);
}

.blog-add-icon {
  position: relative;
  top: 30%;
  color: #fb007e;
}

.blog-form-container {
  position: relative;
  width: 90%;
  height: 90%;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  display: inline-block;
  box-sizing: border-box;
}

.blog-form-element {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

.blog-form-element:focus {
  /*background-color: #fff;*/
  border-color: #fb007e;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #fb007e;
}

.blog-submit-form {
  font-family: Verdana, Geneva, sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  color: #FFFFFF;
  border: #fb007e;
  background: #fb007e;
  font-size: 1rem !important;
}

.blog-submit-form:focus {
  border: #fb007e;
  background: #fb007e;
}


.blog-save-icon {
  position: relative;
  top: 5px;
  font-size: 1.5rem;
}

::placeholder {
  font-family: Verdana, Geneva, sans-serif;
  color: #fb007e !important;
  margin-top: 1px !important;
  font-size: 1rem !important;
}

.blog-error {
  border: 2px solid red;
}

.blog-back-button {
  font-family: Verdana, Geneva, sans-serif;
  position: relative;
  height: 70%;
  width: 35%;
  padding: 6px 5px 12px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  color: #FFFFFF;
  border: #fb007e;
  background: #fb007e;
  font-size: 1rem !important;
}

.blog-delete-button {
  color: #FFFFFF;
  border: #CE1230;
  background: #CE1230;
}

.blog-back-icon {
  position: relative;
  top: 6px;
}

.blog-back-button-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 90%;
  padding: 0 10px;
}

.blog-del-button-container {
  position: absolute;
  right: 0;
  width: 50%;
  height: 90%;
  padding: 0 10px;
}
button {
  cursor: pointer;
}
