if (typeof post._id !== 'undefined' && post._id != null)
	<hr>
	p Commentaire :

	include commentDisplay.pug

	if (loggedIn == true)
		form(action=(typeof post._id === "undefined" ? ''  : '/posts/' + post._id + "/createComment"), method='POST')
			.form-group
				textarea(placeholder="Saisir votre commentaire ici..." name="commentText")
			input(type="submit", value="Enregistrer commentaire", class="btn btn-primary")
