<hr>
p Commentaire :

form(action=(typeof _id === "undefined" ? ''  : '/posts/'+_id+"/createComment"), method='POST')
	.form-group
		textarea(placeholder="Saisir votre commentaire ici..." name="commentText")
	input(type="submit", value="Enregistrer commentaire", class="btn btn-primary")