if (typeof post.comments !== 'undefined' && post.comments.length >= 1)
	each comment in post.comments
		.comment.post-container
			.authorComment= author.username + " : "
			.textComment= comment.comment
