if (typeof post._id !== 'undefined' && post._id != null && post.comments)
.post-container
	p Commentaire :

	include commentDisplay.pug

	if (loggedIn == true)
		form(action=(typeof post._id === "undefined" ? ''  : '/posts/' + post._id + "/createComment"), method='POST')
			.form-group
			.col-12
				textarea(placeholder="Saisir votre commentaire ici..." name="commentText")
			.col-8
				input(type="submit", value="Enregistrer commentaire", class="btn btn-primary")