.post-container
	p Commentaire :

	form(action=(typeof _id === "undefined" ? ''  : '/posts/'+_id+"/createComment"), method='POST')
		.form-group
			.col-12
				textarea(placeholder="Saisir votre commentaire ici..." name="commentText").comment-textarea
		.col-8
			input(type="submit", value="Enregistrer commentaire", class="btn btn-primary")