if (loggedIn == false)
	form(action='/posts/'+ post._id, method='POST')
		.form-group
			label(for='title')
				input#title.form-control(type='text', placeholder='Title' name='title' value=post.title)
			textarea(id="theTextarea" placeholder="Content post" name="textArea")
				| #{post.text}
			input(type='text' name='tags' data-role="tagsinput" id="tags" class="form-control")
		input(type="submit", value="submit")
else
	p= post
	p= post.text
