doctype html

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

head
  title Blog

body
  a(href="/post/create", method="get")
    button(type="submit", class="btn btn-light", method="get") Nouveau

  ul(class="list-group")
    each article in articles
      - var id = article._id
      - var titre = article.titre
      - var resume = article.resume
      - var auteur = article.auteur
      - var date = article.date
      li(class="list-group-item") <a href="/post/#{id}">#{titre}</a> <br/> Résumé : #{resume} <br/> Auteur : #{auteur}, Date : #{date}



