extends layout

block css-page
	link(rel='stylesheet', href='/css/style.css')

block content

	if (author)
		p.filtre= "Article de "+author
	if (tag)
		p.filtre= "Article " + tag

	.row.justify-content-center
		each post in posts
			.col-xl-4.col-lg-6.col-xs-12
				.post-container.row
					.postTitle.col-12
						a(href="/posts/" + post._id) #{post.title}
					.post-content.col-12
						p= post.text.substr(0, 100) + '...'
					each tag in post.tags
						.col-2
							a(href="/tags/" + tag._id) #{tag.tag}

					.row.col-12
						.post-author.col-12
							a(href="/authors/" + post.author._id) #{post.author.username} 
						.post-mail.col-12
							p #{post.author.email}

					
