extends layout

block content
	
	if (loggedIn == true)
		form(action='/posts/', method='POST')
			.post-container
				.form-group
					.row.col-12
						input#title.form-control(type='text', placeholder='Title' name='title')
					.row.col-12
						textarea(id="theTextarea" placeholder='Content post' name='textArea' class="post-textarea")
					.row.col-12
						input(type='text' name='tags' data-role="tagsinput" id="tags" class="form-control" class="tag-post")
					.row.col-3
						input(type="submit", value="submit").btn.btn-primary
	else
		p= 'You are not logged in !'

