html
    include head.pug
    body
        include menu.pug
        div(class="container")
            h1 #{post.title}
            p  #{post.body}
            
            h5 Posted by #{post.author}
            h6 #{post.date}
            - var url = '/post/' + post._id
            form(action=url method="POST")
                div(class="form-group")
                    input(class="form-control" type="text" name="comment")
                button(class="btn btn-primary" type="submit") Submit comment
            - var comments = post.comments ? post.comments.sort((a, b) => a.date < b.date) : []
            - var hasComments = comments.length > 0;
            if hasComments
                h4 Comments
                ul(class="list-group")
                each comment in comments
                    li(class="list-group-item") #{comment.content}
