body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.postTitle {
  font-size: 20px;
}

.menu {
  padding: 2%;
  background-color: lightgrey;
  text-align: center;
}

.row {
  padding: 2%;
}

.main-title {
  text-align: center;
  margin : 2%;
}

.comment {
	margin-bottom: 1%;
}