body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.postTitle {
  font-size: 20px;
}

.menu {
  padding: 2%;
  background-color: lightgrey;
}

.row {
  padding: 2%;
}