.article-list .card {
    margin: 1em;
}

.button-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    background: #ccc url('surprise_sonic_style.png') no-repeat top left;
    padding-left: 58px;
    height: 58px;
    background-color: 343A40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background: #ccc url('surprise_icon_happy.png') no-repeat top left;
    padding-left: 45px;
    height: 45px;
    background-color: 3075FF;
}

#delete-button {
    margin-bottom: 3em;
    background: #ccc url('surprise_icon_sad.png') no-repeat top left;
    padding-left: 45px;
    height: 45px;
    background-color: FF2833;
}

#body-create-article {
    height: 200px;
}

body {
    background-image: url("surprise.png");
}