Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore

@LucasM69
0
0 0 LucasM69/PdfViewerClient Private
 Code  Issues 0  Pull requests 0  Projects 0  Security  Insights  Settings
PdfViewerClient/.gitignore
 Lucas MARTEL Mise en place d'un serveur sous Node Express fonctionnel
0218422 on 4 Feb
46 lines (38 sloc)  605 Bytes

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/api/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
